<style type="text/css">
	
	.container {
		/*margin-left: 0;*/
		/*margin-right: 0;*/
	}
    .product-section {
        margin:0;
        padding:0;
    }
</style>
<side-bar>
    <nav-bar></nav-bar>
    <!--<div class="container-fluid">-->

        <div>
            <carousel-main></carousel-main>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 product-section" ng-repeat="product in $ctrl.productList">
                    <product-tile name="product.name" image="product.image" tag="product.tag"  price="product.price"></product-tile>
                </div>
            </div>
            <div class="row">
                <brand-tile></brand-tile>
            </div>
        </div>
        <blue-footer></blue-footer>
    <!--</div>-->
</side-bar>
